/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End Reset CSS */


/* Begin Site Styles */

/* Base Styles */

html {
	color: #222; /* Very dark shade of gray; background will appear black */
	background-color: #F0F0F0; /* Very light shade of gray; text will appear white */
	font-size: 1.125em; /* 18px / 16px = 1.125em */
	line-height: 1.222em; /*22px / 18px = 1.222em, or ~ 120% of the font size */
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	padding-top: 22px;
	padding-left: 22px;
	padding-right: 22px;
}

body {
  padding-top: 3.666em; /* 66 / 18 = 3.666 */
  padding-right: 1.222em; /* 22 / 18 = 1.222 */
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
}

h1,h2,h3,p {
  padding-bottom: 1.222em; /* 22 / 18 = 1.222 one gridline */
}

h1 {
 font-size: 1.777em; /* 31.984px / 18px = 1.777em -- bridal */
 line-height: 1.376em; /* 44px / 31.984px = 1.376em; two gridlines */
 padding-bottom: 0; /* 22px / 31.984px = 0.688 one gridline */
 font-family: Helvetica, Arial, sans-serif;
 text-align: left;
}

h2 {
	font-size: 1.333em; /* 23.994px / 18px = 1.333em */
	line-height: 1.375em; /* 33px / 23.994px - 1.375em; one and a half gridlines */
	padding-bottom: 0; /* 22px / 23.994px = .917 one gridline */
	font-family: Helvetica, Arial, sans-serif;
}

p {
	font-size: 1.333em; /* 23.994px / 18px = 1.333em */
	line-height: 1.375em; /* 33px / 23.994px - 1.375em; one and a half gridlines */
	font-family: Helvetica, Arial, sans-serif;
}

/* Layout Styles*/
/* ID selectors (major landmark/global html structures) */


/*Modular Styles */
/* Class selectors, sometimes descendent child selectors repeating styles
/* throughout a site/page */

.agenda {
	/* Repeating Styles */

}
.agenda > li {

}

/* State Styles */
/* JavaScript or media-query dependent styles */
@media screen and (min-width:680px) {
	#about_me {
		width: 80%;
	}
}

/* Responsive Images */
img {
	display: block;
	max-width: 198px;
	padding-top: 22px;
padding-bottom: 0.611em; /* 11 / 22 = 0.611 One-half empty gridline (11px) */
}
figcaption {
	font-size: 1em; /* 23.994px / 18px = 1.333em */
	line-height: 1.222em; /* 33px / 23.994px - 1.375em; one and a half gridlines */
	font-family: Helvetica, Arial, sans-serif;
	padding-bottom: 1.222em; /* 22 / 18 = 1.222 One-half empty gridline (22px) */
}


/* Layout */
#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#navigation li {
  float:left;
  width: 33.333333%;
}
/* Modular */
nav ul{
  list-style-type: none;
}
nav a {
  display: block;
  padding-top: 0.611em; /* 11 / 18 = .611 */
  padding-bottom: 0.611em; /* 11 / 18 = .611 */
  background-color: grey;
  text-align: center;
  text-decoration: none;
}
